<h2 style="padding: 15px;">Home page</h2>

<h2>My Heroes</h2>
<ul class="contacts">
  <li *ngFor="let contact of Contacts">
    <button [class.selected]="contact === selectedContact" type="button" (click)="onSelect(contact)">
      <span class="name">{{contact.firstName}}</span>
    </button>
  </li>
</ul>

<mat-card>
  <mat-card-title>
    Contacts Manager
  </mat-card-title>
  <button mat-button (click)="openDialog()">Add Contact</button>

</mat-card>
<mat-card *ngIf="selectedContact">
    <mat-card-title>{{selectedContact.firstName| uppercase}}</mat-card-title>
    <mat-card-content>Cellphone:</mat-card-content>
    <mat-card-content>{{selectedContact.cellNumber | uppercase}} </mat-card-content>
    <mat-card-content>Email:</mat-card-content>
    <mat-card-content>{{selectedContact.email | uppercase}}</mat-card-content>
    <mat-card-content>Address:</mat-card-content>
    <mat-card-content>{{selectedContact.address | uppercase}}</mat-card-content>
  </mat-card>

